<template>
  <div class="home">
    <my-pokemons :myPokemons="myPokemons" :spinner="spinner" />
  </div>
</template>

<script>
// @ is an alias to /src
import { mapState, mapActions } from 'vuex'
import MyPokemons from '@/components/MyPokemons.vue'

export default {
  name: 'Home',
  components: {
    MyPokemons
  },
  data: () => ({
    spinner: false
  }),
  methods: {
    ...mapActions(['getMyPokemons']),
  },
  computed: {
    ...mapState(['myPokemons'])
  },
  created () {
    this.spinner = true
    setTimeout(() => {
      this.getMyPokemons().finally(() => this.spinner = false)
    }, 1500)
  }
}
</script>
