<template>
  <v-container>
    <div class="spinner" v-show="loading">
      <clip-loader
        :loading="loading"
        class="spinner__element"
        :color="'#68d391'"
        :size="60"
      />
    </div>

    <div v-if="!loading">
      <v-row>
        <v-col>
          <h2 :class="'capitalize'" class="my-2">
            Pokemon Name: {{ pokemonName }}
          </h2>
        </v-col>
        <v-col class="text-right pt-5">
          <v-btn
            color="success"
            @click="pokeScrap(pokemonDetail.id)"
            v-if="!isScrap"
            small
            >Catch Pokemon</v-btn
          >
          <v-btn
            color="error"
            @click="pokeScrap(pokemonDetail.id)"
            v-if="isScrap"
            small
            >Release Pokemon</v-btn
          >

          <v-btn color="default" class="ml-5" @click="renamePokeScrap(pokemonDetail.id)" small v-if="isScrap"
            >Rename Pokemon</v-btn
          >
        </v-col>
      </v-row>
    </div>

    <v-row class="mb-4" v-if="!loading">
      <v-col cols="12" md="6" class="d-flex justify-center">
        <v-img
          height="220"
          max-width="200"
          class="blue-grey lighten-4 rounded-circle mt-4"
          contain
          :src="pokemonDetail.sprites.front_default"
          alt="Pokemón"
          transition="fab-transition"
          :class="'shadow'"
        >
        </v-img>
      </v-col>
      <v-col cols="12" md="6" class="d-flex justify-center">
        <v-img
          height="220"
          max-width="200"
          class="blue-grey lighten-4 rounded-circle mt-4"
          contain
          :src="
            pokemonDetail.sprites.back_default
              ? pokemonDetail.sprites.back_default
              : ImageNotFound
          "
          alt="Pokemón"
          transition="fab-transition"
          :class="'shadow'"
        >
        </v-img>
      </v-col>
    </v-row>
    <v-divider v-if="!loading" class="mt-7"></v-divider>

    <v-row>
      <v-col cols="12" md="6" class="d-flex">
        <div v-if="!loading">
          <h2 :class="'capitalize'" class="my-5">characteristics</h2>
          <p>
            Height:
            <strong class="blue--text lighten-1"
              >{{ pokemonDetail.height }} inci</strong
            >
          </p>
          <p>
            Weight:
            <strong class="blue--text lighten-1"
              >{{ pokemonDetail.weight }} pon</strong
            >
          </p>
          <p>
            Type:
            <strong :class="'capitalize'" class="blue--text lighten-1">{{
              typeMap[0].type.name
            }}</strong>
          </p>

          <div v-if="!loading">
            <h2 :class="'capitalize'" class="mt-5">Skills</h2>
            <list-abilities class="my-3" :abilities="abalitiesMap" />
          </div>
        </div>
      </v-col>
      <v-col cols="12" md="6" class="">
        <div v-if="!loading">
          <h2 :class="'capitalize'" class="my-5">Statistics</h2>
          <table-stats class="" :stats="statsMap" />
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";
import TableStats from "@/components/TableStats.vue";
import ListAbilities from "@/components/ListAbilities.vue";

export default {
  name: "PokeDetail",
  components: { TableStats, ListAbilities },
  data: () => ({
    loading: false,
    ImageNotFound: "https://bitsofco.de/content/images/2018/12/broken-1.png",
    isScrap: false,
    pokemonName: ''
  }),
  computed: {
    ...mapState(["pokemonDetail"]),
    statsMap() {
      return this.pokemonDetail.stats.map((item) => item);
    },
    abalitiesMap() {
      return this.pokemonDetail.abilities.map((item) => item);
    },
    typeMap() {
      return this.pokemonDetail.types.map((item) => item);
    },
    pokemonNamed() {
      return this.author.books.length > 0 ? 'Yes' : 'No'
    }
  },
  methods: {
    ...mapActions(["detailPokemon", "scrapPokemon", "releasePokemon", 'renamePokemon']),
    isPokeScrap(id) {
      this.pokemonName = '';
      const storageScrapList = this.parsingScrapList();
      const findScrap = storageScrapList.find((scrap) => scrap.id === id);
      console.log('this.pokemonDetail.name', this.pokemonDetail.name)
      this.isScrap = findScrap ? true : false;
      this.pokemonName = findScrap ? findScrap.name : this.$route.params.pokemon
    },
    pokeScrap(id) {
      !this.isScrap
        ? this.addPokeScrap(id, this.pokemonDetail.name)
        : this.deletePokeScrap(id);
    },
    async addPokeScrap(id) {
      const storageScrapList = this.parsingScrapList();
      if (storageScrapList) {
        const findScrap = storageScrapList.find((scrap) => scrap.id === id);
        if (findScrap) {
          alert("Pokemon already exists");
          return false;
        }
      }
      let scrapPokemon = await this.scrapPokemon().finally(
        () => (this.loading = false)
      );
      if (scrapPokemon.data) {
        storageScrapList.push({
          id: id,
          name: this.pokemonDetail.name,
          renamed: 1,
        });
        localStorage.scraplist = JSON.stringify(storageScrapList);
        this.isScrap = true;
        alert(
          "Pokemon Successfully caught, now the pokemon has a list of your pokemon"
        );
      } else {
        alert("Pokemon cannot be caught, probability is not possible, please try again");
      }
    },
    async deletePokeScrap(id) {
      let releasePokemon = await this.releasePokemon(id).finally(
        () => (this.loading = false)
      );
      if (releasePokemon.data) {
        const storageScrapList = this.parsingScrapList();
        const updateScrapList = storageScrapList.filter(
          (scrap) => scrap.id !== id
        );
        localStorage.scraplist = JSON.stringify(updateScrapList);
        this.isScrap = false;
      } else {
        alert("Failed to release pokemon, because id is not primer number");
      }
    },
    async renamePokeScrap(id) {
      const storageScrapList = this.parsingScrapList();
      const findScrap = storageScrapList.find((scrap) => scrap.id === id);
      if (storageScrapList) {
        if (!findScrap) {
          alert("Pokemon not found");
          return false;
        }
      }
      let doRenamePokemon = await this.renamePokemon(findScrap).finally(
        () => (this.loading = false)
      );
      if (doRenamePokemon.data) {
        storageScrapList.forEach((key, index) => {
          if(key.id === id){
            key.renamed++;
            key.name = doRenamePokemon.data;
          }
        })
        localStorage.scraplist = JSON.stringify(storageScrapList);
        this.isPokeScrap(id);
        console.log('storageScrapList', storageScrapList)
      } else {
        alert("Failed to rename pokemon");
      }
    },
    parsingScrapList() {
      return localStorage.scraplist ? JSON.parse(localStorage.scraplist) : [];
    },
  },
  created() {
    const pokemon = this.$route.params.pokemon;
    const id = parseInt(this.$route.params.id);
    this.loading = true;
    this.detailPokemon(pokemon).finally(() => (this.loading = false));
    this.isPokeScrap(id);
    console.log(id);
  },
};
</script>

<style lang="scss" scoped>
.capitalize {
  text-transform: capitalize;
  @media only screen and (max-width: 586px) {
    text-align: center;
  }
  // color: #1e88e5;
}
.shadow {
  box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, 0.45);
}
.spinner {
  height: 75vh;
  display: flex;
  &__element {
    margin: auto;
  }
}
</style>
