<template>
  <v-footer
      
      class="font-weight-medium yellow darken-1"
    >
    <v-row>
      <v-col
        class="text-center"
        cols="12"
      >
       {{ new Date().getFullYear() }} — <strong >Pokémon - Tauhid Saadi © </strong> 
      </v-col>

    </v-row>

    </v-footer>
</template>