<template>
  <v-container>
    <div class="spinner" v-show="spinner">
      <grid-loader
        :loading="spinner"
        class="spinner__element"
        :color="'#1976D2'"
        :size="60"
      />
    </div>

    <h2 v-if="!spinner" :class="'capitalize'" class="my-3">
      Region: {{ dinamicRegion }}
    </h2>

    <v-row v-if="!spinner" class="d-flex justify-center">
      <v-col cols="12" md="10">
        <v-text-field
          v-model="search"
          label="Search Pokemon"
          placeholder="Enter pokemon name keywords ...."
          filled
          rounded
          dense
        >
        </v-text-field>
      </v-col>
    </v-row>

    <v-row v-if="!spinner">
      <v-col
        cols="12"
        sm="6"
        md="4"
        lg="2"
        v-for="(pokemon, index) in pokeFilter"
        :key="index"
      >
        <v-card class="mx-auto" color="#1976D2" dark max-width="400" @click="clickDetail(pokemon.name, pokemon.id)">

          <v-card-text>
            <v-img
              class="white lighten-5 rounded-circle mt-4"
              :src="pokeImage + pokemon.id + '.png'"
              alt="Pokemon"
              transition="fab-transition"
            ></v-img>
          </v-card-text>

          <v-card-actions class="pa-0">
            <v-list-item class="grow">
              <v-list-item-avatar color="grey darken-3 pa-0">
                <v-img
                  class="pa-0"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/640px-Pok%C3%A9_Ball_icon.svg.png"
                ></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="capitalize font-weight-bold pa-0">{{
                  pokemon.name
                }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'GenerationList',
  data: () => ({
    search: '',
    pokeImage: 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'
  }),
  props: {
    spinner: Boolean,
    generation: Array
  },
  methods: {
    ...mapActions(['regionNames']),
    clickDetail (pokemon, id) {
      this.$router.push({ name: 'PokeDetail', params: {pokemon, id} })
    },
    getRegions () {
      const idRegion = this.$route.params.generation
      this.regionNames(idRegion)
    }

  },
  computed: {
    ...mapState(['dinamicRegion']),
    pokeFilter () {
      return this.generation.filter(poke => {
        return poke.name.toLowerCase().includes(this.search.toLowerCase()) ||
               poke.id.includes(this.search)
      })
    },
  },
  mounted () {
    this.getRegions()
  },
  watch: {
    $route () {
      this.getRegions()
    }
  }
}
</script>

<style lang="scss" scoped>
  .capitalize {
    text-transform: capitalize;
    text-align: center;
  }
  .spinner {
    height: 75vh;
    display: flex;
    &__element {
      margin: auto;
    }
  }
</style>