<template>
  <nav>
    <v-app-bar app height="70px">
      <v-app-bar-nav-icon
        @click.stop="drawer = !drawer"
        class="blue--text lighten-2"
      />
      <v-container class="d-flex">
        <v-img
          src="../assets/pokemon.svg"
          width="130px"
          height="65px"
          contain
          transition="scale-transition"
          @click.stop="goHome"
          :class="'pointer'"
        />
      </v-container>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app temporary color="grey lighten-3">
      <v-list-item class="d-flex justify-center">
        <v-img src="@/assets/pokemon.svg" contain></v-img>
      </v-list-item>
      <v-divider />

      <v-list rounded>
        <v-list-item-group color="primary">
          <v-list-item to="/list/my-pokemons">
            <v-list-item-icon>
              <v-icon v-text="'mdi-bag-personal'"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="'My Pokemon List'"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
        
        <v-list-item-group v-model="selectedItem" color="primary">
          <v-list-item to="/">
            <v-list-item-icon>
              <v-icon v-text="'mdi-pokemon-go'"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="'Pokemon List'"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
export default {
  data: () => ({
    drawer: null,
    selectedItem: 1,
    links: [
      { text: "Generation II", icon: "mdi-pokemon-go", route: "generation-ii" },
      {
        text: "Generation III",
        icon: "mdi-pokemon-go",
        route: "generation-iii",
      },
      { text: "Generation IV", icon: "mdi-pokemon-go", route: "generation-iv" },
      { text: "Generation V", icon: "mdi-pokemon-go", route: "generation-v" },
      { text: "Generation VI", icon: "mdi-pokemon-go", route: "generation-vi" },
      {
        text: "Generation VII",
        icon: "mdi-pokemon-go",
        route: "generation-vii",
      },
      {
        text: "Generation VIII",
        icon: "mdi-pokemon-go",
        route: "generation-viii",
      },
    ],
  }),
  methods: {
    goHome() {
      this.$router.push({ name: "Home" });
    },
  },
};
</script>

<style>
.pointer {
  cursor: pointer;
}
/* .nav {
    height: 100px;
  }  */
</style>