<template>
  <v-simple-table dense style="width: 100%" class="blue-grey lighten-5">
    <template v-slot:default>
      <tbody>
        <tr v-for="item in stats" :key="item.stat.name">
          <td :class="'capitalize'">{{ item.stat.name }}</td>
          <td class="darken-1">{{ item.base_stat }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
  
</template>

<script>
export default {
  name: 'TableStats',
  props: {
    stats: Array
  }

}
</script>

<style lang="scss" scoped>
.capitalize {
  text-transform: capitalize;
}

</style>

